<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	 <p>
    Splurty was built by <a target="_blank" href="https://github.com/paulyarabe">Paul</a>, a budding web developer based in Tokyo, Japan.  He is passionate about developing products that help students challenge themselves and grow.
  </p>
  <p>
    He hopes you will share with others how you are getting better by using Splurty. 
  </p>
  <p style="margin-left:1em;">I think that to all living things there is a pleasure in the exercise of their energies...But a person at work, making something that she feels will exist because she is working at it and wills it, is exercising the energies of her mind and soul as well as of her body.  Memory and imagination help her as she works.  Not only her own thought, but the thoughts of those of past ages guide her hands; and as a part of the human race, she creates.  If we work thus we shall be [people], and our days will be happy and eventful. - Making is Connecting by David Gauntlett, 2009.</p>
  <p>
    If <i>you</i> want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'paul_channing.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Paul Yarabe</h2>
    <p>
      Paul Yarabe (right) is a budding web developer and strategist working in the ed tech area in Tokyo. He wants to help young people achieve their dreams in any way he can. Challenged by entrpereneur and close friend Channing J. Harris (left), who Paul sees as the Dr. Dre to his Slim, or the Timbaland to his OneRepublic, Paul is learning programming prior to starting his MBA at Harvard Business School this Fall.
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'coco.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Coco</h2>
    <p>
      Coco, my cute little Shihtzu, is the brains behind this operation.  She reminds Paul to take full advantage of everyday, and treasure his relationships with others.   Coco also played a major role in Paul's success in high school, waking him up almost every day and staying up until everyone in the house had fallen asleep.  Coco likes chicken, human food, getting lost, walks, and people not leaving the car.  She's also shy, runs up stairs fast, and spends a lot of time with mom.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />


