<h2>
	<span>SPLURTY / No. <%= @quote.id %> </span>
	The best advice from <u>people like you</u> so we can get better together!
</h2>


<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />